podcasts:
  demo:
    title: "demo podcast"
    folder: "demo"
    max_size: 10000000

upload:
  chunk_size: 3

db: "podgen.yml"

storage:
  folder: "storage"

cloud_storage:
  endpoint_url: "YOU_SHOULD_SET_YOUR_S3_URL_WITHOUT_HTTP_SCHEME"
  bucket: "YOU_SHOULD_SET_YOUR_S3_BUCKET_NAME"
  region: "YOU_SHOULD_SET_YOUR_S3_REGION"
  secrets:
    aws_key: "YOU_SHOULD_SET_YOUR_AWS_KEY"
    aws_secret: "YOU_SHOULD_SET_YOUR_AWS_SECRET"
